<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {{title}} {% endblock %} </title>
</head>
<body>
    {% block content %}
        <h1>Мой магазин продуктов</h1>
        <p>В этом магазине можно купить много товаро</p>
        <p>Чтобы узнать заказы пользователя напишите адресной строке orders/"id пользователя"/</p>
        <p>Чтобы узнать история заказов напишите адресной строке - story/"id пользователя"/"количество дней"/</p>
    {% endblock %}

</body>
</html>